header {
  background-color: #e2eef900;
}
.card{
  margin-left:50%;
}

.fondo {
  background-color: #0184b2;
  background-image:url(fondo-oceanico.webp) ;
  background-size: 100%; /* 100% de altura y tamaño automático para el ancho */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
body{
  background-image: linear-gradient(to bottom, #a1c4fd, #135173)
}
.form-control {
  margin-right: 10px; /* Ajusta este valor según lo necesites */
}

.feature-image {
  transition: transform 0.3s ease;
}

.feature-image:hover {
  transform: scale(1.1);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: rgba(255, 255, 255, 0);
 
}
.carousel-item > img {
  position: absolute;
  bottom: 0%;
  left: 30%;
  min-width: 40%;
  height: 32rem;
 
}
.carousel-inner .carousel-item.active > .first-slide {
  border: none;
}
* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

@media screen and (min-width: 768px) {
  /* Make the header semi-transparent at 'md' and make the hero under below it */
  header {
    background-color: rgba(234, 225, 225, 0.365);
    position: relative;
    z-index: 9999;
  }
  
  .hero {
    position: relative;
    z-index: 100;
    margin-top: -80px;
  }
  
  /* Extended Spacing Utility Classes */
  .pt-md-10 { padding-top: 6rem !important; }
}

.featured .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}